<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illum saepe
    odio suscipit id sapiente consequuntur, ipsa laboriosam eius debitis quidem
    nisi quos veritatis eum soluta adipisci repellat commodi. Esse.
  </p>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
